[flake8]
max-line-length = 100
extend-ignore = E203,E501,W503,F401
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    *.egg-info,
    .venv,
    .tox
per-file-ignores = 
    __init__.py:F401
    tests/*:S101
max-complexity = 10
import-order-style = google